"# MinimalApi" 
/bin
/obj
/.vs
.vs/MinimalAPIsMovies/FileContentIndex/08c74668-4efe-4c58-b2a3-0a1a10e401d5.vsidx'
MinimalAPIsMovies/.vs/MinimalAPIsMovies/FileContentIndex/08c74668-4efe-4c58-b2a3-0a1a10e401d5.vsidx